@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    font-family: theme('fontFamily.serif');
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background: white;
  }
  .print-sheet {
    box-shadow: none !important;
    border: none !important;
    padding: 0 !important;
  }
}
